* {
    margin: 0;
    padding: 0;
}

#container {
    margin: 1rem;
    padding: 1rem;
}

header {
    margin: 1rem;
    display: flex;
}

header nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 1rem;
}

header nav ul li {
    margin: 0 1rem;
}

#titleMain {
    text-align: center;
    margin: 1rem;
}

#form {
    margin: 0 30%;
}

#formUsuario {
    margin: 1rem;
}

.form-group {
    display: flex 1;
    margin: 0.5rem 0;
}

.form-group > label {
    width: 100%;
}

.form-group > input {
    margin: 0.3rem 0;
    width: 100%;
    height: 1.5rem;
}

#divButton {
    margin: 1rem;
    text-align: center;
}
#submit {
    height: 1.5rem;
    width: 5rem;
}

footer p {
    margin: 1rem;
    text-align: center;
}